<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.base.mapperdao.IPopConsumeMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.base.model.PopConsume" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="opt" property="opt" jdbcType="SMALLINT" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="orderid" property="orderid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, opt, money, createtime, status, orderid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pop_consume
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 查询总消费 -->
  <select id="toSearchMyPopWb" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
  	select SUM(money) from pop_consume where userid=  #{userid,jdbcType=INTEGER};
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pop_consume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsh.base.model.PopConsume" >
    insert into pop_consume (id, userid, opt, 
      money, createtime, status, 
      orderid)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{opt,jdbcType=SMALLINT}, 
      #{money,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{orderid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.base.model.PopConsume" >
    insert into pop_consume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="opt != null" >
        opt,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="opt != null" >
        #{opt,jdbcType=SMALLINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsh.base.model.PopConsume" >
    update pop_consume
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="opt != null" >
        opt = #{opt,jdbcType=SMALLINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsh.base.model.PopConsume" >
    update pop_consume
    set userid = #{userid,jdbcType=INTEGER},
      opt = #{opt,jdbcType=SMALLINT},
      money = #{money,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>